In [1]:
import pandas as pd
import pickle
import json
import numpy as np

# Load File

In [2]:
# with open('best_model.pkl', 'rb') as file_1:
#   best_model = pickle.load(file_1)
# with open('best_modelmor.pkl', 'rb') as file_2:
#   best_modelmor = pickle.load(file_2)

In [3]:
with open('best_modelmor_save.pkl', 'rb') as file_1:
  best_modelmor_save = pickle.load(file_1)

# Random Dataset

In [4]:
# Example DataFrame (replace with your actual dataset loading code)
data = {
    'Light Intensity': np.random.rand(10),  # Example random data for demonstration
    'Temp01': np.random.rand(10),
    'Hum01': np.random.rand(10),
    'Heat01': np.random.rand(10),
    # 'SoilM01': np.random.rand(10),
    # 'SoilM02': np.random.rand(10)
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   Light Intensity    Temp01     Hum01    Heat01
0         0.724116  0.568044  0.944046  0.803299
1         0.977929  0.469732  0.816716  0.447969
2         0.133546  0.473298  0.497548  0.269081
3         0.829028  0.753986  0.039168  0.588032
4         0.237356  0.423560  0.084483  0.598350
5         0.958888  0.856292  0.590142  0.537321
6         0.026112  0.583697  0.517654  0.909516
7         0.685083  0.902093  0.984260  0.472983
8         0.303885  0.726897  0.674806  0.344304
9         0.054230  0.351569  0.865335  0.952639

In [5]:
df.to_csv('sample.csv', index=False)

In [6]:
# predictions1=best_model.predict(df)
# print (predictions1)

# predictions2=best_modelmor.predict(df)
# print (predictions2)

predictions=best_modelmor_save.predict(df)
print (predictions)

[[152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]
 [152.    151.75  161.75  161.125 111.125 109.   ]]

# Add Prediction into Dataframe

In [7]:
# targets1 = ['Phosphorous01', 'Phosphorous02', 'Nitrogen01', 'Nitrogen02', 'Potassium01', 'Potassium02']
# # Add predictions to the DataFrame
# for i, target in enumerate(targets1):
#     df[target] = predictions1[:, i]

In [8]:
targets = ['Phosphorous01', 'Phosphorous02', 'Nitrogen01', 'Nitrogen02', 'Potassium01', 'Potassium02']
# Add predictions to the DataFrame
for i, target in enumerate(targets):
    df[target] = predictions[:, i]

In [9]:
df

,Light Intensity,Temp01,Hum01,Heat01,Phosphorous01,Phosphorous02,Nitrogen01,Nitrogen02,Potassium01,Potassium02
0,0.724116,0.568044,0.944046,0.803299,152.0,151.75,161.75,161.125,111.125,109.0
1,0.977929,0.469732,0.816716,0.447969,152.0,151.75,161.75,161.125,111.125,109.0
2,0.133546,0.473298,0.497548,0.269081,152.0,151.75,161.75,161.125,111.125,109.0
3,0.829028,0.753986,0.039168,0.588032,152.0,151.75,161.75,161.125,111.125,109.0
4,0.237356,0.423560,0.084483,0.598350,152.0,151.75,161.75,161.125,111.125,109.0
5,0.958888,0.856292,0.590142,0.537321,152.0,151.75,161.75,161.125,111.125,109.0
6,0.026112,0.583697,0.517654,0.909516,152.0,151.75,161.75,161.125,111.125,109.0
7,0.685083,0.902093,0.984260,0.472983,152.0,151.75,161.75,161.125,111.125,109.0
8,0.303885,0.726897,0.674806,0.344304,152.0,151.75,161.75,161.125,111.125,109.0
9,0.054230,0.351569,0.865335,0.952639,152.0,151.75,161.75,161.125,111.125,109.0

In [10]:
# targets2 = ['Phosphorous01DT', 'Phosphorous02DT', 'Nitrogen01DT', 'Nitrogen02DT', 'Potassium01DT', 'Potassium02DT']
# # Add predictions to the DataFrame
# for i, target in enumerate(targets2):
#     df[target] = predictions2[:, i]
# df